{# src/JB/PublicBundle/Resources/views/Public/index.html.twig #}

{% extends "JBPublicBundle::layout.html.twig" %}

{% block section %}
 
    <section>
        <div class="container">
            <div class="blockblanc">
                <h1>Présentation</h1>
                <div class="row">
                    <div class="col-md-4 ">
                        <img class="rond" src="assets/img/IMG_3389_min.png" alt="UP"> 
                    </div>
                    <div class="col-md-8">
                        <p>La création d'un site web est propice a de nombreuses erreurs s'il n'est pas construit rigouresement.<br/>
                        Pour éviter ces pièges, une méthodologie clair et détaillé sera présenté avat le début du projet et sera suivi tout au long du projet.
                        </p>
                    </div>        
                </div>
            </div>
        </div>     
    </section>
    <hr>
        

{% endblock %}
